<div class="row">
  <div class="col-md-8">
    <h2>Messages</h2>
    <input type="text" id="new-message" placeholder="Type and press enter..." class="form-control">
    <ul id="message-list" class="list-unstyled"></ul>
  </div>

  <div class="col-md-4">
    <h2>Who’s Online</h2>
    <ul id="user-list" class="list-unstyled">
      <li>Loading online users...</li>
    </ul>
  </div>
</div>
